body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
    
    
}

.orange-color{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange , tomato);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    text-align: justify;
}
.dream-big{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-right: 10%;
}
.box{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    padding-left: 35px;
    border-radius: 10px;
}
.experiance{
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
#adult{
  border-left: 7px solid;
  border-image: linear-gradient(salmon , tomato);
  border-image-slice: 1;
}
#baby{
   border-left: 7px solid;
   border-image: linear-gradient(blue , cyan);
   border-image-slice: 1;
}
footer p{
    text-align: center;
}


